.profile-button {
	

	button {
		color: black;
		background: white;


	}

.p-splitbutton {
	margin-right: .5rem;
}

}

.p-datatable-header {
	background: none !important;
	border: none !important;

	h3{
		text-transform: uppercase;
	}
}

.p-column-title {
	text-transform: uppercase !important;
}

.p-inputtext {
    margin: 0;
    width: -webkit-fill-available;
}